albumentations==2.0.8
fastapi==0.135.2
numpy==2.4.3
opencv-python-headless==4.11.0.86
pillow==12.1.1
pydantic==2.12.5
python-multipart==0.0.22
scipy==1.17.1
sentry-sdk==2.19.2
torch==2.11.0
torchvision==0.26.0
ultralytics==8.4.26
uvicorn==0.42.0
